<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Usuarios</h1>
<table>
    <thead>
    <tr>
        <th>Nome</th>
        <th>CEP</th>
        <th>Logradouro</th>
        <th>Complemento</th>
        <th>Bairro</th>
        <th>Localidade</th>
        <th>UF</th>
        <th>IBGE</th>
        <th>GIA</th>
        <th>DDD</th>
        <th>SIAFI</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ .Nome }}</td>
        <td>{{ .Cep.Cep }}</td>
        <td>{{ .Cep.Logradouro }}</td>
        <td>{{ .Cep.Complemento }}</td>
        <td>{{ .Cep.Bairro }}</td>
        <td>{{ .Cep.Localidade }}</td>
        <td>{{ .Cep.Uf }}</td>
        <td>{{ .Cep.Ibge }}</td>
        <td>{{ .Cep.Gia }}</td>
        <td>{{ .Cep.Ddd }}</td>
        <td>{{ .Cep.Siafi }}</td>
    </tr>
    </tbody>
</table>
</body>
</html>